@import url("./cards.css");

/* =========================================================
   SECTION
========================================================= */

.playlists-section {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* =========================================================
   GRID
========================================================= */

.playlists-grid {
    display: grid;

    grid-template-columns:
        repeat(6, minmax(0, 1fr));

    gap: 2.5rem 1.5rem;
}

/* =========================================================
   MOBILE
========================================================= */

@media (max-width: 700px) {
    .playlists-grid {
        grid-template-columns:
            repeat(3, minmax(0, 1fr));

        gap: 1.8rem 1rem;
    }

}


/* =========================================================
   SMALL MOBILE
========================================================= */
/* 
@media (max-width: 420px) {

    .playlists-grid {
        gap: 1.5rem 0.75rem;
    }


    .playlist-overlay p {
        font-size: 0.72rem;
    }

} */
