@import url("./cards.css");

/* =========================================================
   SPEAKERS
========================================================= */

.speakers-section {
    width: 100%;
}


/* =========================================================
   SPEAKERS GRID
========================================================= */

.speakers-grid {
    display: grid;

    grid-template-columns:
        repeat(6, minmax(0, 1fr));

    gap: 3rem 0px;

    max-width: 1100px;

    margin: 0 auto;
}



/* =========================================================
   TABLET
========================================================= */
/* 
@media (max-width: 1000px) {

    .speakers-grid {
        grid-template-columns:
            repeat(4, minmax(0, 1fr));

        gap: 2.5rem 1.5rem;
    }

} */


/* =========================================================
   MOBILE
========================================================= */

@media (max-width: 700px) {

    .speakers-grid {
        grid-template-columns:
            repeat(3, minmax(0, 1fr));

        gap: 2rem 1rem;
    }

    .speaker-image {
        width: 110px;
        height: 110px;
    }

    .speaker-card h2 {
        font-size: 0.9rem;

        margin-top: 0.75rem;
    }

}


/* =========================================================
   SMALL MOBILE
========================================================= */
/* 
@media (max-width: 450px) {

    .speakers-grid {
        grid-template-columns:
            repeat(2, minmax(0, 1fr));

        gap: 2rem 1rem;
    }

    .speaker-image {
        width: 120px;
        height: 120px;
    }

} */