@import url("./cards.css");

/* =========================================================
   CONTAINER
========================================================= */

.topics-container {

    width: 100%;

    max-width: 1400px;

    margin: 0 auto;
}



/* =========================================================
   GRID
========================================================= */

.topics-grid {

    display: grid;

    grid-template-columns: repeat(7, 1fr);

    gap: 40px 28px;
}


/* =========================================================
   MOBILE
========================================================= */

@media (max-width: 650px) {

    .topics-grid {

        grid-template-columns: repeat(2, 1fr);

        gap: 28px 14px;
    }

}


/* =========================================================
   SMALL MOBILE
========================================================= */
/* 
@media (max-width: 380px) {

    .topics-grid {

        gap: 24px 10px;
    }


    .topic-name {

        font-size: 0.9rem;
    }

} */