        <div class="filter-fields">

            <!-- موضوع -->
            <div class="filter-field">

                <select id="topic-filter">

                    <option value="">
                        همه موضوعات
                    </option>

                    <option value="quran">
                        قرآن
                    </option>

                    <option value="ahlulbayt">
                        چهارده معصوم
                    </option>

                    <option value="prophets">
                        پیامبران
                    </option>

                    <option value="hadith">
                        حدیث
                    </option>

                    <option value="history">
                        تاریخ
                    </option>

                    <option value="seerah">
                        سیره
                    </option>

                    <option value="arabic">
                        قواعد عربی
                    </option>

                    <option value="aqeedah">
                        کلام و عقاید
                    </option>

                    <option value="fiqh">
                        فقه و احکام
                    </option>

                    <option value="ethics">
                        اخلاق
                    </option>

                    <option value="family">
                        خانواده
                    </option>

                    <option value="islamic-sciences">
                        علوم اسلامی
                    </option>

                </select>

            </div>


            <!-- نام سخنران -->

            <div class="filter-field">

                <select id="speaker-filter">

                    <option value="">
                        همه پدید آوران
                    </option>

                    <option value="speaker1">
                        سخنران 1
                    </option>

                    <option value="speaker2">
                        سخنران 2
                    </option>

                    <option value="speaker3">
                        سخنران 3
                    </option>

                </select>

            </div>


            <!-- قالب -->

            <div class="filter-field">

                <select id="format-filter">

                    <option value="">
                        همه قالب‌ها
                    </option>

                    <option value="video">
                        ویدیو
                    </option>

                    <option value="audio">
                        صوت
                    </option>

                    <option value="playlist">
                        مجموعه
                    </option>

                    <option value="image">
                        عکس
                    </option>

                    <option value="text">
                        کتاب و مقالات
                    </option>

                </select>

            </div>
            

            <!-- دکمه اعمال -->

            <button
                type="button"
                class="filter-button"
                id="apply-filter"
            >

                <i class="fa-solid fa-sliders"></i>

                <!-- اعمال فیلتر -->
                 فیلتر

            </button>
    <!-- فیلترهای فعال -->
    <div
        class="active-filters"
        id="active-filters"
    ></div>

        </div>