    <footer class="footer">

        <div>
            <h3>ارتباط با ما</h3>
            <p>ایمیل</p>
            <p>شماره تماس</p>
            <p>آدرس</p>
        </div>

        <div>
            <h3>درباره سامانه</h3>
            <p>قوانین</p>
            <p>حریم خصوصی</p>
            <p>سوالات متداول</p>
        </div>

        <p class="copyright">
            © 2026 تمامی حقوق این وب‌سایت محفوظ است.
            استفاده از مطالب تنها با ذکر منبع مجاز است.
        </p>

    </footer>